<%- include("./partials/header") %>

<%- include("./partials/navbar") %>  
<br><br><br>
<h1 class = "perhead3">All Blogs </h1>
   <section>
    <%  for(var i = 0;i <blog.length ;i++){ %>

       <div class="container" > 
        <h2 class = "perhead"> <%= blog[i].title %></h2>
     <div class="row code" style=" display: flex; align-items: center; justify-content: center; background-color: 
     #FDB813; 
     background-color: rgba(51, 51, 51, 0.87);">
     
       <div class="col-sm-12 col-md-12 col-lg-6">
       <div class="code-1 ">

       <img src="<%= blog[i].image %>" alt=""class="code-pic">
      </div>
     </div>
     
     <div class="col-sm-12 col-md-12 col-lg-6">
       <div class="code-2">
         <p>
           <h2>My-Blog</h2>
           <br>
          <%= blog[i].discription %>
          <br><br>
    

 <a href="/index/<%= blog[i]._id %>" class = "btn2">Show details         <i class="zmdi zmdi-eye"></i> </a>
 <span href="" class = "btn2">Category: <%= blog[i].category %></span>
       </p>
     </div>
   </div>

       <div style= " margin: auto; display: flex; flex-wrap: wrap;align-items: center; justify-content: center;">
       <p class = "btn1"> Author name: <%= blog[i].author %></p>
     
     <p class = "btn1"> Created Date: <%= blog[i].date.toDateString() %></p>
    </div> </div>
     </div>
     </div>
     <% } %>
     </section>
<br><br>
<%- include("./partials/footer") %>    

